<h1>View an Employee</h1>

<h3>Name: <%= @employee.first_name %> <%= @employee.last_name %></h3>
<h3>Alias: <%= @employee.alias %></h3>
<h3>Title: <%= @employee.title %></h3>
<h3>Office: <%= @employee.office %></h3>
<h3>Dog Name: <%= @employee.dog.name %></h3>
<br />
<img src="<%= @employee.img_url %>" />
