<h1><%= @employee.first_name %></h1>
<h2><%= @employee.last_name %></h2>
<h3><%= @employee.alias %></h3>
<h3><%= @employee.title %></h3>
<h3><%= @employee.office %></h3>
<h3><%= @employee.alias %></h3>
<img src="<%=@employee.img_url%>" >
