<h1>View all Dogs</h1>

<% @dogs.each do |dog| %>
<h3>Name: <%= link_to dog.name, dog_path(dog) %></h3>
<% end %>
<hr>


# <% x= @dogs.sort { |a,b| a[:employees.size] <=> b[:employees.size] } %>
 <%= @dogs %>
<% x = @dogs.sort_by { |dog| dog[:employees.size]} %>
<%= x %>
<% x.each do |dog| %>
    <h3>Name: <%= link_to dog.name, dog_path(dog) %></h3>
    <h3>Owners: <%= dog.employees.size %></h3>
<% end %>

<!--  BONUS: Make an option to sort the dogs on the index page by the number of employees that belong to them.-->
